.button {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    color: var(--text-color-light);
    padding: var(--spacing-small) var(--spacing-medium);  /* Justerat för bättre padding */
    border-radius: 41px; /* Rundade hörn */
    transition: var(--transition-default);
}

.button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-grow: 0;
    max-width: 30px;
}

.primary-button {
    background: var(--button-bg-primary);
    color: white; /* För säkerhets skull, om texten ska vara vit */
}

.button-icon {
    font-size: 1.8rem; /* Justerad storlek på ikonen */
    margin-right: 10px; /* Mellanrum mellan ikonen och texten */
}

.button-text {
    text-align: center;
    font-size: 1rem; /* Justera textstorlek */
}

.button-linear-right {
    background: linear-gradient(to right, #102537, #0c5797);
    color: white;
}

.button-linear-left {
    background: linear-gradient(to left, #102537, #0c5797);
    color: white;
}

.secondary-button {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid white;  
    color: white;  
}

.secondary-button:hover {
    background-color: rgb(0, 0, 0);  
}
