/* FavoriteButton.css */

.favorite-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .movie-card-container:hover .favorite-icon {
    transform: scale(1.2);
  }
  
  .heart-icon {
    color: gray; /* Grå färg när det inte är favorit */
    transition: color 0.3s ease; /* Smidig övergång när färgen ändras */
  }
  
  .heart-icon.favorite {
    color: #ff6666; /* Röd färg när det är favorit */
  }
  
  