.movie-header {
    position: relative;
    display: flex;
    width: 100%;
    background-size: cover; /* ändrad från contain till cover */
    background-position: center center;
    background-color: black; /* fallback-färg */
    color: white;
    padding: 20px;
}


.movie-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* förbättrar textens kontrast mot bilden */
    z-index: 1;
}

.movie-header-wrapper {
    margin-top: 60px;
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    z-index: 8;
}


.movie-poster-container {
    margin-top: 80px;
    flex: 1.2; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-poster {
    width: 100%; 
    height: auto;
    max-width: fit-content;
    max-height: 500px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 1.5);
}

.button-container {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.movie-header-content {
    margin-top: 80px;
    flex: 3; /* Takes up 3/4 of the space */
    padding: 25px;
    background: var(--movie-list-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffffff;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
}

.movie-header-content h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 15px;
}

.movie-info {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.movie-overview {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: #e0e0e0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 300px;
    flex-grow: 1; /* Allow the overview to grow */
}

.movie-overview:hover {
    overflow: auto; /* Show full text on hover */
}

.crew-info {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px 30px;
    margin-top: 20px;
    color: #cccccc;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {
    .movie-header-wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .movie-poster-container {
        margin-top: 120px;
    }

    .movie-poster {
        width: 200px;
    }

    .movie-header-content {
        padding: 15px;
        width: 100%;
        margin-top: 5px;
    }

    .movie-header-content h1 {
        font-size: 2rem;
    }

    .movie-info,
    .movie-overview,
    .crew-info {
        font-size: 1rem;
    }

    .rating-container {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        gap: 5px;
    }
}
