/* MyMovies.css */

.my-movies {
  margin-top: 100px;
  background-color: var(--body-bg);
  padding: 20px;
}

.loading {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-top: 50px;
}

.movie-section {
  margin-top: 30px;
}

.movie-section h2 {
  font-size: 2rem;
  color: var(--text-color-light);
  margin-bottom: 20px;
  text-transform: capitalize;
  margin-left: 80px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-medium);
  background-color: var(--movie-list-bg);
  border: 1px solid var(--movie-list-border);
  border-radius: var(--border-radius-large);
  padding: var(--spacing-medium);
  overflow-x: hidden;
}

.movie-card {
  position: relative;
  width: 250px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform var(--transition-default);
}

.movie-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.movie-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9);
}

.rating-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--text-color-light);
  font-weight: bold;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity var(--transition-default);
}

.movie-card:hover .rating-overlay {
  visibility: visible;
  opacity: 1;
}

.favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: rgb(147, 143, 143);
  cursor: pointer;
  opacity: 0;
  transition: opacity var(--transition-default), transform var(--transition-default), color var(--transition-default);
}

.movie-card:hover .favorite-icon {
  opacity: 1;
}

.favorite-icon:hover {
  transform: scale(1.2);
  color: #ff6666;
  opacity: 0.8;
}

/* Button Styles (if you have buttons in your component) */
.button {
  border: none;
  background-color: var(--button-bg-secondary);
  color: var(--text-color-light);
  padding: var(--spacing-medium);
  cursor: pointer;
  transition: background-color var(--transition-default);
}

.button:hover {
  background-color: darken(var(--button-bg-secondary), 10%);
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .movie-section h2 {
    margin-left: 20px;
  }
}
