.recommendation-section {
    padding: 20px;
  }
  
  .recommendation-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
  }
  
  .recommendation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .recommendation-poster {
    width: 150px;
    height: auto;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-medium);
    transition: filter 0.3s ease, transform 0.3s ease;
  }

  .recommendation-poster:hover {  
    cursor: pointer;  
    transform: scale(1.05); /* Slight zoom */
    transition: filter 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

  
  .recommendation-card h4 {
    margin-top: 8px;
    font-size: 14px;
    text-align: center;
  }


  .recommendation-card {
  position: relative;
  /* Other styles... */
}

  .recommendation-card:hover .favorite-icon {
  opacity: 1;
}

  .favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease;
  z-index: 1;
}


  @media (max-width: 768px) {
   
  }
  