.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 85vh; /* Håller overlay inom 80% av viewport-höjden */
    background: rgba(0, 0, 0, 0.95); /* Mörk bakgrund för overlay */
    z-index: 1000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    overflow: hidden; /* Hindrar sidans bakgrund från att skrollas */
}

.close-button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: 2px solid white;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
}

.close-button:hover {
    background: white;
    color: black;
}

.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    height: calc(100% - 60px); /* Justerar så att resultatsektionen får rätt höjd */
    overflow-y: auto; /* Skapar en skrollbar yta för resultaten */
    padding-bottom: 20px;
}

.search-results::-webkit-scrollbar {
    display: none; /* Dölj scrollbar för webkit-baserade webbläsare (Chrome, Safari) */
}

.search-results {
    -ms-overflow-style: none;  /* Dölj scrollbar för Internet Explorer */
    scrollbar-width: none;  /* Dölj scrollbar för Firefox */
}

.search-result-item {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background 0.8s;
    max-width: 200px;
}

.search-result-item:hover {
    background: rgba(0, 61, 136, 0.9); /* Blå nyans vid hover */
}

.search-thumbnail {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.search-details {
    margin-top: 10px;
    text-align: center;
}

.no-results-message {
    color: #ffcccb; 
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
}

.movie-card-container {
    position: relative; 
    width: 250px;       
    margin: 0px;       
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
.movie-card-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
  
/* Favorite Icon Styling */
.favorite-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}
  
.movie-card-container:hover .favorite-icon {
    opacity: 1; /* Show on hover */
}
